/* Add to your CSS file or style section */

.login-container {
    max-width: 400px;
    margin: 50px auto; /* Added margin from the top */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-heading {
    text-align: center;
    color: #f40202;
    margin-bottom: 20px; /* Added margin at the bottom of the heading */
  }

  .app-heading {
    text-align: center;
    color: #f2ff00;
    margin-bottom: 20px; /* Added margin at the bottom of the heading */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-label {
    margin: 10px 0;
  }
  
  .login-input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #2980b9;
  }
  
  .login-register-text {
    text-align: center;
    margin-top: 10px;
    color: #777;
  }
  
  /* Style for Register button */
  .login-register-btn {
    background-color: #2ecc71;
  }
  
  .login-register-btn:hover {
    background-color: #27ae60;
  }
  